In [1]:
import pandas as pd
import numpy as np

In [ ]:
SignificantEarthquakes1965_2016_df = pd.read_csv("SignificantEarthquakes1965_2016.csv")
SignificantEarthquakes1965_2016_df

In [6]:
SignificantEarthquakes1965_2016_df.shape

(23412, 21)

In [4]:
SignificantEarthquakes1965_2016_df.isnull().sum()

Date                              0
Time                              0
Latitude                          0
Longitude                         0
Type                              0
Depth                             0
Depth Error                   18951
Depth Seismic Stations        16315
Magnitude                         0
Magnitude Type                    3
Magnitude Error               23085
Magnitude Seismic Stations    20848
Azimuthal Gap                 16113
Horizontal Distance           21808
Horizontal Error              22256
Root Mean Square               6060
ID                                0
Source                            0
Location Source                   0
Magnitude Source                  0
Status                            0
dtype: int64

In [ ]:
SignificantEarthquakes1965_2016_df[SignificantEarthquakes1965_2016_df['Depth Seismic Stations'].isnull()]

In [ ]:
SignificantEarthquakes1965_2016_df[SignificantEarthquakes1965_2016_df['Horizontal Distance'].isnull()]

In [10]:
SignificantEarthquakes1965_2016_df[SignificantEarthquakes1965_2016_df['Latitude'].isnull()]

Empty DataFrame
Columns: [Date, Time, Latitude, Longitude, Type, Depth, Depth Error, Depth Seismic Stations, Magnitude, Magnitude Type, Magnitude Error, Magnitude Seismic Stations, Azimuthal Gap, Horizontal Distance, Horizontal Error, Root Mean Square, ID, Source, Location Source, Magnitude Source, Status]
Index: []