<a href="https://colab.research.google.com/github/sadicsha/Pandas-in-python-/blob/main/PANDAS_with_chipotle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PANDAS WITH CHIPOTLE

1) Import the necessary libraries

In [ ]:
import pandas as pd

2) Import the dataset from this address

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

3) Assign it to a variable called chipo.

In [ ]:
chipo = pd.read_csv(url, sep = '\t')

4) See the first 10 entries

In [ ]:
chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

In [ ]:
chipo['choice_description'][4]

'[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]'

5) What is the number of observations in the dataset?

In [ ]:
chipo.info()


chipo.shape[0]
# 4622 observations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

4622

6) What is the number of columns in the dataset?

In [ ]:
chipo.shape[1]

5

7) Print the name of all the columns.

In [ ]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

8) How is the dataset indexed?

In [ ]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

9) Which was the most ordered item?

In [ ]:
chipo.item_name.value_counts().head()

Chicken Bowl           726
Chicken Burrito        553
Chips and Guacamole    479
Steak Burrito          368
Canned Soft Drink      301
Name: item_name, dtype: int64

10) How many items were ordered?

In [ ]:
mostOrd = chipo.item_name.value_counts().max() 
mostOrd

726

In [ ]:
mostOrd = chipo["item_name"].max()
mostOrd

'Veggie Soft Tacos'

11) What was the most ordered item in the choice_description column?

In [ ]:
chipo.choice_description.value_counts().head()

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

12) How many items were orderd in total?

In [ ]:
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

13. How much was the revenue for the period in the dataset?

In [ ]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)
chipo.item_price.sum()

34500.16

14) How many orders were made in the period?

In [ ]:
chipo.order_id.value_counts().count()

1834

15)What is the average amount per order?

In [ ]:
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['item_price']

# Or 

#chipo.groupby(by=['order_id']).sum().mean()['item_price']

18.81142857142869

16) How many different items are sold?

In [ ]:
chipo.item_name.value_counts().count()

50